<!DOCTYPE html>
<html lang="en">
    <div class="top">
        <header style="font-size: 200%;"> 
            <a href="{% url 'customer_home' %}">Home</a> Hi, {{ request.user }}
            <a href="{% url 'logout' %}", style="margin-left:75%;">Logout</a>
        </header>
    </div>
    {% if status == "Pending" %}
        <h1 class="text">Sorry! Please Wait Until Your Order Gets Accepted</h1>
    
    {% elif status == None %}
        <h1 class="text">You Have No Order Created Yet!</h1>
    
    {% else %}
        <h1 class="text">Your Helper Is On The Way</h1>
        <h1>Your Helper: {{helper.name}}</h1>
    {% endif %}

    <style>
        .top{padding: 2% 4%;
        border-bottom-style: outset;
        border-color: black;
        background-color: white;
        }
        .text{
            text-align:center
        }
    </style>
        
</html>