<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{customer.name}}'s Order</title>
    </head>
    <body style = "background: white">
        <script>
            getLocation(); 
    
            function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(sendPosition);
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
            }
        
            function sendPosition(position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
                localStorage.setItem("lat", lat);
                localStorage.setItem("lng", lng);
            }
        </script>
        <div class="top">
            <header style="font-size: 200%;">
                <a href="{% url 'helper_home' %}">Home</a> Hi, {{ request.user }} 
                <a style="margin-left:30%;" href="{% url 'helper_delivery' customer.id %}">Deliver!</a>
                <a href="{% url 'logout' %}", style="margin-left:34%;">Logout</a>
            </header>
        </div>
    
        <div class="order">
            <h1 class="orderhead">Order Information:</h1>
            Customer Name: {{customer.name}}
            <br>
            Address: {{customer.address}}
            <br>
            Shopping Street: {{customer.shoppingstreet}}
        </div>
        
        <div class="items">
            <h2 class="itemhead">Items:</h2>
            {% for name in items %}
                <div class="item">
                    <b>Item Name:</b> {{name}}
                    <br>
                    <b>Category:</b> {{name.category}}
                    <br>
                    <b>Quantity:</b> {{name.quantity}}
                    <br>
                    <b>Store:</b> {{name.store}}
                </div>
            {% endfor %}
        </div>
    </body>
    <style>
        .top{padding: 2% 2%;
        border-bottom-style: outset;
        border-color: black;
        background-color: white;}
        
        .order{
            text-align:center;
        }

        .items{
            text-align:center;
        }

        .item{
            padding:1%;
            width:80%;
            margin:auto;
            margin-top:1%;
            border: solid;
        }
    </style>
</html>