<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{customer.name}}'s Order</title>
    </head>
    <body style = "background: white">
        <div class="top">
            <header style="font-size: 30px;">
                <a href="{% url 'helper_home' %}">Home</a> Hi, {{ request.user }} 
                <a style="margin-left:27.5%;" href="{% url 'helper_delivery' customer.id %}">Deliver!</a>
            </header>
            <a href="{% url 'logout' %}", style="float: right;margin-right: -20px;margin-top: -45px;font-size: 30px;">Logout</a>
        </div>
    
        <div class="order">
            <h1 class="orderhead">Order Information:</h1>
            Customer Name: {{customer.name}}
            <br>
            Address: {{customer.address}}
            <br>
            Shopping Street: {{customer.shoppingstreet}}
        </div>
        
        <div class="items">
            <h2 class="itemhead">Items:</h2>
            {% for name in items %}
                <div class="item">
                    <b>Item Name:</b> {{name}}
                    <br>
                    <b>Category:</b> {{name.category}}
                    <br>
                    <b>Quantity:</b> {{name.quantity}}
                    <br>
                    <b>Store:</b> {{name.store}}
                </div>
            {% endfor %}
        </div>
    </body>
    <style>
        .top{padding: 20px 20px;
        border-bottom-style: outset;
        border-color: black;
        background-color: white;}
        
        .order{
            text-align:center;
        }

        .items{
            text-align:center;
        }

        .item{
            padding:1%;
            width:80%;
            margin:auto;
            margin-top:1%;
            border: solid;
        }
    </style>
</html>