<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Check Orders</title>
    </head>
    <body style = "background: white">
        <div class="top">
            <header style="font-size: 200%;"> 
                <a href="{% url 'helper_home' %}">Home</a> Hi, {{ request.user }}
                <a href="{% url 'logout' %}", style="margin-left:77%;">Logout</a>
            </header>
        </div>
        {% for name in customers %}
            <div class="orders">
                Customer: {{ name }}
                <br>
                ShoppingStreet: {{ name.shoppingstreet }}
                <br>
                <a href="{% url 'helper_details' name.id %}">Details</a>
            </div>
        {% endfor %} 
    </body>
    <style>
        .top{padding: 2% 2%;
        border-bottom-style: outset;
        border-color: black;
        background-color: white;}

        .orders{
            text-align: center;
            padding:1%;
            width:80%;
            margin:auto;
            margin-top:1%;
            border: solid;
        }
    </style>
</html>